.back {
        
    background-color: #eeeeee;
}
        
       
.minimizeInefficienciesText{
    text-align: left;
    padding-top: 48px;
    padding-bottom: 60px;
    font-size: 1rem;
    padding-left: 20px;
    color:rgba(8, 8, 8, 0.753)
}
      
@media screen and (max-width:770px){
.minimizeInefficienciesText{
    padding-top: 0px;
}
}
      
.operationalEffciciencyText{
    text-align: left;
    padding-top: 50px;
    font-size: .75rem;
    font-weight: 900;
    padding-left: 20px;
    color:rgba(8, 8, 8, 0.753)
}
/* This erases the second columns benefits */
.benefitsDisappear{
    color:#eeeeee;
}

@media screen and (max-width:1203px){
.ipadImgText{
    padding-top: 5px;
}
}
@media screen and (min-width:1203px){
.ipadImgText{
    padding-top: 120px;
}
}
@media screen and (max-width:770px){
.benefitsDisappear{
    height:0px;
}
}

@media screen and (min-width:768px){
.operationalEffciciencyText {
    font-size: 1.75rem;
    font-weight: 500;
      
}
}

@media screen and (min-width:768px){
.minimizeInefficienciesText{
    font-size: 1.75rem;
    font-weight: 500;
}
}

@media screen and (max-width:768px) {
.benefitsDisappear{
    height: 0px;
    display: none;
}
}

@media screen and (min-width:768px) and (max-width:992px){
.predicitivePclass{
    padding-top: 10px;
}
}
