
</body>
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Pump-iot.com <i>Smart Pumping Solutions </i>Utilitie Safety, Maintenance, and Efficiency for Waste Water Management, Manufacturing & Industrial Markets .</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="http://www.pump-iot.com">Solutions</a></li>
            <li><a href="">Industries</a></li>
            <li><a href="">Our Clients</a></li>
            <li><a href="">Resources</a></li>
            <li><a href="http://www.pump-iot.com/about">About Us</a></li>
            <li><a href="http://www.pump-iot.com/contact">Contact</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://www.pump-iot.com/about">About Us</a></li>
            <li><a href="http://www.pump-iot.com/contact">Contact Us</a></li>
            <li><a href="">Contribute</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
       <a href="#">Pump IoT</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fas fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fas fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fas fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fas fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

</html>
