
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>Pump IoT-The Smart Pump Solution</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <link rel="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <link rel="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="images/umpiot-removebg-preview__1_-removebg-preview.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/umpiot-removebg-preview__1_-removebg-preview.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/umpiot-removebg-preview__1_-removebg-preview.png">
  <link rel="icon" href="apple-touch-icon.png">
  <link rel="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/My.css">
  <link rel="stylesheet" href="/my.js">

</head>
<body>

  <!-- /* Top image with text overlay----BEGIN */ -->

 
  <div class ="navbar-paddingbottom">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark navHeightIncrease">
    <a class="navbar-brand" href=""><img src="images/umpiot-removebg-preview (1).png" class = "PumpIotImg" height= "35"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-dark" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Solutions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Industries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Our Clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
      </div>
      </nav>
    </div>
    <!-- /* Top image with text overlay----END */ -->



    <!-- /* Navbar with flyin tab to right---Begin */ -->
    
   
    <div class="card">

      <div class="row text-over-image">
    
        <div class="col-6 image"><img src="images/waterT.png"/></div>
    
        <div class="col-12 text"><h1 style =font-size:3.5vw;>Maximize Your pumping operations</h1><h1 style =font-size:2.5vw;>
          and efficiency with the smart pumping solution.</h1>
          <button type="button" class="btn btn-primary learnMoreButton">Learn More</button>
          
          </div>
    
      </div>
    
    </div>

    <!-- /* Navbar with flyin tab to right---END */ -->
    <div class="row">
      <div class="col-6 workSafetyText"><h1 style =font-size:5.5vw;>Workplace Safety, Risk, and Efficiency Management for Construction, Energy & Industrial Markets</h1></div>
      <div class="col-6"></div>
    </div>
   
 
  
    <!-- /* Key benefits section with txt----Begin */ -->

<div class="container-top">
    <div class="back fluid" style="width:100%;height:auto;">
        
          <div class="container">
            <div class="row">
                <div class="col-lg operationalEffciciencyText"> 
                  <div class="col-lg "><h1>KEY BENEFITS</h1></div> 
                <p><strong>Operational Efficiency </strong>• Smart pump systems include product-specific sensors that monitor your assets and store data in the cloud, enabling maintenance personnel to spend more time diagnosing and managing assets and less time in manual checkups.</p>
                <p class = "predicitivePclass"><strong>Predictive maintenance</strong> • Replace preventative maintenance with analytic insights to proactively service parts before failure occurs, improving uptime and reducing life-cycle costs.</p>
                </div>
              <div class="col-lg minimizeInefficienciesText">
                <div class="col-lg"><h1 class = "benefitsDisappear">KEY BENEFITS</h1></div> 
                <p><strong>Minimize inefficiencies</strong> • Data is everything. With Pump IoT, you can perform root cause analysis to identify issues in your pumping operations, gain insight into pump usage to improve performance, and take data-driven action.</p>
                <p><strong>Remote monitoring</strong> • Measure behavior like temperature, vibration, voltage, pressure, current, and flow rate from anywhere, at any time, to improve asset performance, increase compliance adherence, and increase productivity.</p>
              </div>
            </div>
        </div>      
    </div>
</div>

<!-- /* Key benefits section with txt----End */ -->



<!-- <div class = "blackSectionWithText fluid" style="width:auto;height:auto;">
      <div class="container">
        <div class="row">
          <div class="col-lg"> 
            <div class = "mobileImage">
              <img class = "rounded mx-auto d-block" src="images/blueBack.png" width="700" height="575">
             </div>
            </div>
          <div class="col-lg phoneImgText">
            <div class = "MinimizeInText"><h3>Mobile Solutions</h3><h5 class = "minimizeText"> • Get automated alerts when issues are detected, quickly uncover  their root cause, and see exactly how your smart pump is used on the market with IoT Behavior Analytics.</h5></div>
            <div class ="remote"><h3>Remote monitoring</h3><h5 class = "minimizeText"> • Measure behavior like temperature, vibration, voltage, pressure, current, and flow rate from anywhere, at any time, to improve asset performance, increase compliance adherence, and increase productivity.</h5></div>
          </div>
        </div>
    </div>      
</div> -->

    
        
   
    

<!-- Blue section with text -->
<div class = "blueSection">

<h1 class = "optimize">
  Maximize uptime, production yield, and quality
</h1>
<button class = "btn btn-outline-danger btn-lg demoButtonBlueSection">DEMO</button>
</div>
<!----test card carousel------>
<div class="container-fluid">
  <h1 class="text-center mb-3 relatedExamples">RELATED EXAMPLES OF SMART INDUSTRIAL PRODUCTS</h1>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner row w-80 mx-auto">
      <div class="carousel-item col-md-4 active">
        <div class="card">
          <img class="card-img-top img-fluid" src="images/AdobeStock_187751764-5314x2657 (1).png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">MOBILE IOT SOLUTIONS</h4>
            <button class="button button5">Read More</button>
          </div>
        </div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="images/blueMotor.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">SMART PUMP IOT SOLUTIONS</h4>
            <button class="button button5">Read More</button>
          </div>
        </div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="images/orangeMeter.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">SMART METERING SOLUTIONS</h4>
            <button class="button button5">Read More</button>
          </div>
        </div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="images/AdobeStock_187751764-5314x2657 (1).png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">MOBILE IOT SOLUTIONS</h4>
            <button class="button button5">Read More</button>
          </div>
        </div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="images/blueMotor.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">SMART PUMP SOLUTIONS</h4>
            <button class="button button5">Read More</button>
          </div>
        </div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="images/orangeMeter.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">SMART METERING SOLUTIONS</h4>
            <button class="button button5">Read More</button>
          </div>
        </div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="images/AdobeStock_187751764-5314x2657 (1).png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">MOBILE IOT SOLUTIONS</h4>
            <button class="button button5">Read More</button>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<%- include("footer")-%>


    

  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</body>
</html>



 
