<%- include("header")-%>



<%- include("navbar")-%>

 
  <!-- Top image with white text----BEGIN -->
    <div class="card">

      <div class="row text-over-image">
    
        <div class="col-6 image"><img src="images/waterT.png"/></div>
    
        <div class="col-12 text"><h1 style =font-size:3.5vw;>Maximize Your Pumping Operations</h1><h1 style =font-size:2.5vw;>
          & Efficiency with the Smart Pumping Solution.</h1>
          <button type="button" class="btn btn-primary learnMoreButton">Learn More</button>
          
          </div>
    
      </div>
    
    </div>
  <!-- Top image with white text----END -->

    <div class="row">
      <div class="col-md-5 workSafetyText">
        <h1>Utility Safety, Maintenance, and Efficiency for Waste Water Management, Manufacturing & Industrial Markets.</h1>
        <h4> Get unprecedented visibility into your worksite with real-time data from Pump IoT. Uncover insights about all your resources so you can ensure optimal pumping efficiency, increase productivity, while automating time-consuming tasks, such as system faults and daily reporting.</h4>
        <h4 class = "paragraphUnderLargeHeader"style =font-size:1.5vw;></h4></div>
      <div class="col-md-7" style = right:0px;height:600px;padding-top:100px><marquee behavior="slide" style="margin-left: 150px;" scrollamount="40" direction="left">
        <img src="images/blueBack.png" name ="responsivePhoneImg" height="400vw" alt="phoneScroll" />
        </marquee>
      </div>
    </div>

 
  
    <!-- /* Key benefits section with txt----Begin */ -->

<div class="container-top">
    <div class="back fluid" style="width:100%;height:auto;">
        
          <div class="container">
            <div class="row">
                <div class="col-lg operationalEffciciencyText"> 
                  <div class="col-lg "><h1>KEY BENEFITS</h1></div> 
                <p><strong>Operational Efficiency </strong>• Smart pump systems include product-specific sensors that monitor your assets and store data in the cloud, enabling maintenance personnel to spend more time diagnosing and managing assets and less time in manual checkups.</p>
                <p class = "predicitivePclass"><strong>Predictive maintenance</strong> • Replace preventative maintenance with analytic insights to proactively service parts before failure occurs, improving uptime and reducing life-cycle costs.</p>
                </div>
              <div class="col-lg minimizeInefficienciesText">
                <div class="col-lg"><h1 class = "benefitsDisappear">KEY BENEFITS</h1></div> 
                <p><strong>Minimize inefficiencies</strong> • Data is everything. With Pump IoT, you can perform root cause analysis to identify issues in your pumping operations, gain insight into pump usage to improve performance, and take data-driven action.</p>
                <p><strong>Remote monitoring</strong> • Measure behavior like temperature, vibration, voltage, pressure, current, and flow rate from anywhere, at any time, to improve asset performance, increase compliance adherence, and increase productivity.</p>
              </div>
            </div>
        </div>      
    </div>
</div>


<!-- Blue section with text -->
<div class = "blueSection">

<h1 class = "optimize">
  Maximize uptime, production yield, and quality
</h1>
<button class = "btn btn-outline-danger btn-lg demoButtonBlueSection">DEMO</button>
</div>
<!----test card carousel------>
<div class="container-fluid">
  <h1 class="text-center mb-3 relatedExamples">RELATED EXAMPLES OF SMART INDUSTRIAL PRODUCTS</h1>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner row w-80 mx-auto">
      <div class="carousel-item col-md-4 active">
        <div class="card">
          <img class="card-img-top img-fluid" src="images/AdobeStock_187751764-5314x2657 (1).png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">MOBILE IOT SOLUTIONS</h4>
            <button class="button button5">Read More</button>
          </div>
        </div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="images/blueMotor.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">SMART PUMP IOT SOLUTIONS</h4>
            <button class="button button5">Read More</button>
          </div>
        </div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="images/orangeMeter.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">SMART METERING SOLUTIONS</h4>
            <button class="button button5">Read More</button>
          </div>
        </div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="images/AdobeStock_187751764-5314x2657 (1).png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">MOBILE IOT SOLUTIONS</h4>
            <button class="button button5">Read More</button>
          </div>
        </div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="images/blueMotor.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">SMART PUMP SOLUTIONS</h4>
            <button class="button button5">Read More</button>
          </div>
        </div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="images/orangeMeter.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">SMART METERING SOLUTIONS</h4>
            <button class="button button5">Read More</button>
          </div>
        </div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="images/AdobeStock_187751764-5314x2657 (1).png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">MOBILE IOT SOLUTIONS</h4>
            <button class="button button5">Read More</button>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<%- include("footer")-%>


    

 



 
