<%- include("header")-%>



<%- include("navbar")-%>

 
  <!-- Top image with white text----BEGIN -->
    <div class="card">
      <div class="row text-over-image">
        <div class="col-6 image"><img src="images/waterT.png"/></div>
        <div class="col-12 text"><h1 style =font-size:4vw;>Maximize Your Pumping Operations</h1><h1 style =font-size:2.5vw;>
          & Efficiency with the Smart Pumping Solution.</h1>
          <button type="button" class="btn btn-primary learnMoreButton">Learn More</button>
          </div>
      </div>
    </div>
  <!-- Top image with white text----END -->

    <div class="row">
      <div class="col-md-6 leftSideColumnWithText">
        <h1>Utility Safety, Maintenance, and Efficiency for Waste Water Management, Manufacturing & Industrial Markets.<hr><p class ="mobileIoTPlatformText">Better manage your pumping operations, data, and efficiency with our mobile IoT platform.<p>
      </h1>
        <h4 class = "paragraphUnderLargeHeader"style =font-size:1.5vw;></h4></div>
      <div class="col-md-6 "><marquee behavior="slide" scrollamount="60" direction="left">
        <img src="images/blueBack.png" id="responsivePhoneImg" height="435vw" alt="phoneScroll" />
        </marquee>
      </div>
    </div>

 
  
    <!-- /* Key benefits section with txt----Begin */ -->

<div class="container-top">
    <div class="back fluid" style="width:100%;height:auto;">
          <div class="container">
            <div class="row">
                <div class="col-lg operationalEffciciencyText"> 
                  <div class="col-lg ">
                    <h1>KEY BENEFITS</h1></div> 
                <h4><strong>Operational Efficiency </strong>• Smart pump systems include product-specific sensors that monitor your assets and store data in the cloud, enabling maintenance personnel to spend more time diagnosing and managing assets and less time in manual checkups.</h4>
                <h4><strong>Predictive maintenance</strong> • Replace preventative maintenance with analytic insights to proactively service parts before failure occurs, improving uptime and reducing life-cycle costs.</h4>
                </div>
              <div class="col-lg minimizeInefficienciesText">
                <div class="col-lg"><h1 class = "benefitsDisappear">KEY BENEFITS</h1></div> 
                <h4><strong>Minimize inefficiencies</strong> • Data is everything. With Pump IoT, you can perform root cause analysis to identify issues in your pumping operations, gain insight into pump usage to improve performance, and take data-driven action.</h4>
                <h4><strong>Remote monitoring</strong> • Measure behavior like temperature, vibration, voltage, pressure, current, and flow rate from anywhere, at any time, to improve asset performance, increase compliance adherence, and increase productivity.</h4>
              </div>
            </div>
        </div>      
    </div>
</div>


<!-- Blue section with text -->
<div class = "blueSection">
<h1 class = "optimize">
  Maximize uptime, production yield, and quality
</h1>
<button type="button" class="btn btn-outline-danger">DEMO</button>
</div>









<%- include("footer")-%>


    

 



 
