<%- include("Partials/header")-%>
<%- include("Partials/navbar")-%>
<div class="jumbotron jumbotron-fluid successPageJumboTron">
    <div class="container">
      <h3>Thank you,</h3>
      <h3>We will have a representative reach out to you soon.</h3>
      <form action="/success" method="post">
        <button type="submit" class = "btn btn-outline-info btn-lg">Take me back</button>
      </form>
    </div>
  </div>
  <%- include("Partials/footer")-%>
