
/* ------------------------------NAVABAR-------------------------BEGIN */

.navbar-paddingbottom{
  padding-bottom: 60px;

}
.grayNavbarIncreaseHeight{
  height:85px;
  
}

                /* -------------Top navbar logo------------- */

.PumpIotImg{
  padding-left: 20px;
  
}
@media (max-width: 992px) {
.navbar-collapse {
  position: absolute;
  top: 105px;
  left: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 60px;
  width: 33%;
  transition: all 0.7s ease;
  display: block;
  border-top-right-radius:15px;
  border-bottom-right-radius:15px;
}

.navbar-collapse.collapsing {
  height: auto !important;
  margin-left: 50%;
  left: 100%;
  transition: all 0.2s ease;
}
.navbar-collapse.show {
  left: 0;
}
}
.navbar-dark .navbar-nav .nav-link {
color: #4db2ec;
margin-top:10px;
font-weight: 500;
font-size:larger;
}
@media screen and (max-width:400px){
.navbar-dark .navbar-nav .nav-link{
  margin-top:5%;
}
}
.nav-item{
padding-top: 20px;
}

/* ------------------------------NAVABAR-------------------------END */

/* THIS IS THE TOP PICTURE WITH WHITE TEXT */
.card { 
  margin-top: 24px;
  overflow: hidden;
  border:0px;
  
}


.row.text-over-image { /* Step 2 */

  width: 200%;
  height:600px;
  text-align: center;
  color:#f9f9fa;
  font-family: 'poppins',sans-serif;
  font-size: 3.5rem;
  

}
@media screen and (max-width:800px){
  .row.text-over-image h1{
    font-size:2rem !important;
    padding-left: 40px;
    padding-right: 40px;
    

  }
}
.col-md-6{
  padding-right: 0px;
  padding-left: 0px;;
  z-index: 1;
}



.text { /* Step 3 */
  position:absolute;
  /* transform: translateX(-100%); */
  top:20%;
  left:.5%;
  
}

.card img:first-child { /* Step 4 */

  height: 100%;

  width: 110%;

  object-fit: cover;
  

}

/* Button under the center text---BEGIN */
.learnMoreButton{
  
  margin-top: 20px;
  margin-right: 10px;
}
/* Button under the center text---END */






.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

/* Testing workplace safety section css */

.leftSideColumnWithText h1{
  font-size: 3rem;
  font-weight: 650;
  text-align: left;
  padding-top: 100px;
  padding-left: 200px;
  padding-bottom: 200px; 
  color:rgba(0, 0, 0, 0.746);
}



@media screen and (max-width:1050px){
  .leftSideColumnWithText h1{
    padding-top:100px;
    padding-left: 70px;
    font-size: 1.5rem !important;
   
  }
}
@media screen and (max-width:766px){
  .leftSideColumnWithText h1{
    padding-top:100px;
    padding-left: 50px;
    font-size: 1.5rem !important;
   
  }
}

.paragraphUnderLargeHeader{
  padding-left: 50px;
}
#responsivePhoneImg{
  padding-bottom: 20px;
  padding-top: 30px;
}

/* when the ipad is tilted vertical and the screen is smaller */
@media screen and (max-width:780px){
  #responsivePhoneImg{
   height: 48vw;
   padding-top: 50px;
   padding-bottom: 20px;
   
  }
}
@media screen and (max-width:766px){
  #responsivePhoneImg{
   height: 400px;
   padding-top: 50px;
   padding-bottom: 20px;
   padding-left: 95px;
   
  }
}

  /* The smart industrial pump concept section */

  .pumpConcept{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top:30px;
    color:white;
    width: auto;
    height: 70px;
  }
  
  .pumpConcept-description {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 30px;
    font-weight: 200;
    font-size: 1.3rem;
    padding-right: 500px;
    padding-left: 500px;
    color:white;
    
  }
  


  .top-containerC{
    margin-top: 24px;
    padding-bottom:20px;
    background-color: #1a2029;
    width:auto;
    
  } 
  
  
  .pumpimg{
    padding-top: 20px;
    width: 45%;
    height: auto;
  }
  @media screen and (max-width:1208px){
  .pumpimg{
    width:95%;
  }
}

  /* Key Benefits section */

  .back {
    background-color: #eeeeee;
  }
  
 
  .minimizeInefficienciesText{
      text-align: left;
      padding-top: 48px;
      padding-bottom: 60px;
      font-size: 1.25rem;
      font-weight: 450;
      color:rgba(8, 8, 8, 0.753)
  }
  .operationalEffciciencyText{
      text-align: left;
      padding-top: 50px;
      font-size: 1.25rem;
      font-weight: 450;
      color:rgba(8, 8, 8, 0.753)
  }
  /* This erases the second columns benefits */
  .benefitsDisappear{
    color:#eeeeee;
  }



/* Blue Section with Demo Button */
  .blueSection {
     background-image: -webkit-linear-gradient(bottom, #2e80dd, #4db2ec 100%);
     background-image: -o-linear-gradient(bottom, #2e80dd, #4db2ec 100%);
     background-image: linear-gradient(to top, #2e80dd, #4db2ec 100%);
     width: auto;
     text-align: center;
     height: 475px;
     padding-top: 20px;
     font-family: 'Poppins', sans-serif;
    
  }
  @media screen and (min-width:700px){
    .blueSection{
      height:400px;
    }
  }
  .optimize{
      padding-top: 40px;
      padding-left: 20px;
      padding-right: 20px;
      color:whitesmoke;
      font-size: 3rem;
      font-family: 'poppins',sans-serif;
      padding-bottom: 20px;
  }
  .demoButtonBlueSection{
     margin-right:20px;
     padding-bottom: 20px;
     color: white;
     padding: 10px 30px;
     text-align: center;
     font-size: 16px;
     margin: 4px 2px;
     opacity: 1;
     transition: 0.3s;
  }
  .bemoButtonBlueSection:hover {opacity: 0.6}

/* Blue Section with Demo Button-----END */
 




/* FOOTER SECTION */
.site-footer
{
  background-color:#26272b;
  padding:100px 0 100px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* FOOTER END SECTION */

  
  


 
  
 

    @media screen and (max-width:1203px){
      .ipadImgText{
        padding-top: 5px;
      }
    }
    @media screen and (min-width:1203px){
      .ipadImgText{
        padding-top: 120px;
      }
    }
   
    @media screen and (min-width:768px) {
      .operationalEffciciencyText {
        font-size: 1.75rem;
        font-weight: 500;
        
      }
    }
    @media screen and (min-width:768px){
       .minimizeInefficienciesText{
        font-size: 1.75rem;
        font-weight: 500;
      }
    }

    @media screen and (max-width:768px) {
      .benefitsDisappear{
        height: 0px;
        display: none;
      }
    }
    @media screen and (min-width:768px) and (max-width:992px){
      .predicitivePclass{
        padding-top: 10px;
      }
    }
    /* @media screen and (min-width:768px) and (max-width:992px){
      .pumpConcept-description{
       font-size: 1rem;
       font-weight: 200;
       padding-right: 50px;
       padding-bottom: 20px;
       padding-left: 50px;
     }
   } */

/* SECTION FOR THE CONTACT FORM SECTION-----BEGIN */
body {
  color: #566787;
  background: #f5f5f5;
  font-family: "Open Sans", sans-serif;
}
.contact-form {
  padding: 50px;
  margin: 30px 0;
}
.contact-form h1 {
  text-transform: uppercase;
  margin: 0 0 15px;
}
.contact-form .form-control, .contact-form .btn  {
  min-height: 38px;
  border-radius: 2px;
}
.contact-form .btn-primary {
  min-width: 150px;
  background: #299be4;
  border: none;
}
.contact-form .btn-primary:hover {
  background: #1c8cd7; 
}
.contact-form label {
  opacity: 0.9;
}
.contact-form textarea {
  resize: vertical;
}
.hint-text {
  font-size: 15px;
  padding-bottom: 15px;
  opacity: 0.8;
}
.bs-example {
  margin: 20px;
}
#country{
  padding:10px;
  margin-top: 20px;
  background-color: gray;
  border-radius: 10px;
  
}
#inputFirstName{
  margin-bottom: 10px;
}
#inputLastName{
  margin-bottom: 10px;
}
#inputCompanyName{
  margin-bottom: 10px;
}
#inputTitle{
  margin-bottom: 10px;

}

.contact-form h1{
  font-weight: 800;
  color:#299be4
}

/* SECTION FOR THE CONTACT FORM SECTION-----END */









   @media screen and (min-width:768px) and (max-width:992px){
    .mobileImage{
      padding-bottom: 5px;
     }
   }
  @media screen and (min-width:768px) and (max-width:992px){
  .mobileImage{
    padding-top: 70px;
    padding-bottom: 5px; 
    }
  }
  @media screen and (min-width:768px) and (max-width:992px){
  .MinimizeInText{
    font-size: 3rem; 
    }
  }
  @media screen and (min-width:768px) and (max-width:992px){
  .businessForm{
    padding-top: 0px; 
    }
  }
  @media screen and (min-width:768px) and (max-width:992px){
  .emailForm{
    padding-top: 40px; 
    }
  }
  @media screen and (min-width:768px) and (max-width:992px){
  .companyForm{
    padding-top: 40px; 
    }
  }
  @media screen and (min-width:768px) and (max-width:992px){
  .formBtn{
    margin-top: 0px;
    }
  }
  @media screen and (min-width:768px) and (max-width:992px){
    .button5{
      margin-left: 28%;
      }
    }
    @media screen and (min-width:768px) and (max-width:992px){
      .date{
        display: none;
        }
      } 
      @media screen and (min-width:768px) and (max-width:992px){
        .navbarname{
          height:50%;
          }
        } 
        


    /* END *
  
   

    
   
  