
  .navbar-paddingbottom{
      padding-bottom: 60px;
  
}
  .navHeightIncrease{
      height:85px;
      opacity: 90%;
}
  .PumpIotImg{
      padding-left: 20px;
}
@media (max-width: 992px) {
  .navbar-collapse {
      position: absolute;
      top: 100px;
      left: 100%;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
      width: 35%;
      transition: all 0.7s ease;
      display: block;
      border-top-right-radius:15px;
      border-bottom-right-radius:15px;
  }
  .navbar-collapse.collapsing {
      height: auto !important;
      margin-left: 50%;
      left: 100%;
      transition: all 0.2s ease;
  }
  .navbar-collapse.show {
      left: 0;
  }
}
  .navbar-dark .navbar-nav .nav-link {
    color: #4db2ec;
    font-weight: 600;
  }



  /* The smart industrial pump concept section */

  .pumpConcept{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top:30px;
    color:white;
    width: auto;
    height: 70px;
  }
  
  .pumpConcept-description {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 30px;
    font-weight: 200;
    font-size: 1.3rem;
    padding-right: 500px;
    padding-left: 500px;
    color:white;
    
  }
  


  .top-containerC{
    margin-top: 24px;
    padding-bottom:20px;
    background-color: #1a2029;
    width:auto;
    
  } 
  
  
  .pumpimg{
    padding-top: 20px;
    width: 45%;
    height: auto;
  }
  @media screen and (max-width:1208px){
  .pumpimg{
    width:95%;
  }
}

  /* Key Benefits section */

  .back {
    background-color: #eeeeee;
  }
  
  .fourBenefits{
      width:100%;
  }
  .top{
      margin-top: 50px;
      font-family: poppins;
      text-align: left;
  }
  .second{
    margin-top: 105px;
    font-family: poppins;
    text-align: left;
  }
  #keyBenefitsText{
      padding-top: 20px;
      padding-bottom: 5px;
      color:rgba(8, 8, 8, 0.753);
      font-weight: bold;
      
  }
 
  .minimizeInefficienciesText{
      text-align: left;
      padding-top: 50px;
      padding-bottom: 60px;
      font-size: 1.25rem;
      font-weight: 350;
      color:rgba(8, 8, 8, 0.753)
  }
  .operationalEffciciencyText{
      text-align: left;
      padding-top: 50px;
      font-size: 1.25rem;
      font-weight: 350;
      color:rgba(8, 8, 8, 0.753)
  }
  /* This erases the second columns benefits */
  .benefitsDisappear{
    color:#eeeeee;
  }
 
 

  /* END */
/* Black Section with Text */
    .blackSectionWithText{
    background-color: #1a2029;    
    width: auto;
    text-align: center;
    height: 500px;
    font-family: 'Poppins', sans-serif;
    
    }
    .mobileImage{
      padding-top: 50px;
      padding-bottom: 40px;

    }
    .phoneImgText{
        color:white;
        padding-top: 70px;
        padding-bottom: 40px;
        padding-right: 50px;
        text-align: left;
        font-weight: lighter;
        
    }
    
    .minimizeText{
      font-weight: 200;
    }

    .remote{
      padding-top:20px;
      padding-bottom: 30px;
    }


/* Blue Section with Demo Button */
  .blueSection {
     background-image: -webkit-linear-gradient(bottom, #2e80dd, #4db2ec 100%);
     background-image: -o-linear-gradient(bottom, #2e80dd, #4db2ec 100%);
     background-image: linear-gradient(to top, #2e80dd, #4db2ec 100%);
     width: auto;
     text-align: center;
     height: 475px;
     padding-top: 20px;
     font-family: 'Poppins', sans-serif;
    
  }
  .optimize{
      padding-top: 150px;
      color:whitesmoke;
      font-size: 3rem;
      font-family: 'poppins',sans-serif;
      padding-bottom: 20px;
  }
  .demoButtonBlueSection{
     margin-right:20px;
     color: white;
     padding: 10px 30px;
     text-align: center;
     font-size: 16px;
     margin: 4px 2px;
     opacity: 1;
     transition: 0.3s;
  }
  .bemoButtonBlueSection:hover {opacity: 0.6}

 
/* CSS for carousel */
@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  right or prev direction
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}
/* END */
/* <!---H1 about cards---> */
.relatedExamples{
      color:rgba(8, 8, 8, 0.664);
      font-size: 2rem;
      font-weight: bold;
      font-family: 'poppins',sans-serif;
      padding-top: 40px;
      padding-bottom: 20px;
}
.card-title{
  text-align: center;
  font-family: 'poppins',sans-serif;
  color:rgba(8, 8, 8, 0.664);
  font-size: 1rem;
  font-weight: bold;
  font-stretch: expanded;
}

/* Button for the cards */
.button {
  background-color: #4db2ec; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  

}
.button5 {
margin-left: 40%;
margin-top: 2%;

}




  /* Black section bottom with social media */
  .blackSectionWithTextBottom{
    background-color: white;    
    width: auto;
    height: 150px;
  }
  .footerCopyrightText{
    font-family: 'Poppins', sans-serif;
    font-size: small;
    color:white;
    padding-top: 20px;
    
  }
  .footerCopyrightText{
    padding-top: 70px;
    
  }
  
  .socialImgs{
    padding-top: 3px;
    height:auto;
    width: 300px;
    padding-left: 50%px;
    
  }
  .socialMediaIconsHeroku{
  border-radius: 5px;
  }
  /* Form section */

  .wantMoreText{
    padding-top: 10px;
    text-align: center;
    color: white;
    font-family: 'poppins', sans-serif;
  }

  .mailingListTextField{
    padding-top:30px;
    
  }
  .emailForm{
    padding-bottom: 20px;
    padding-right: 10px;
    padding-top: 50px;
    
  }
  .companyForm{
    padding-bottom: 20px;
    padding-right: 10px;
    padding-top: 50px;
    
  }
.businessForm{
  padding-bottom: 20px;
  padding-right: 10px;
  padding-top: 50px;
  
}
.formSection{
  padding-right: 50%;
}
.formBtn{
  height:80%;
  margin-top: 50px;
}

  
  


 
  
 

    @media screen and (max-width:1203px){
      .ipadImgText{
        padding-top: 5px;
      }
    }
    @media screen and (min-width:1203px){
      .ipadImgText{
        padding-top: 120px;
      }
    }
   
    @media screen and (min-width:768px) and (max-width:992px){
      .operationalEffciciencyText {
        font-size: 1.75rem;
        font-weight: 200;
        
      }
    }
    @media screen and (min-width:768px) and (max-width:992px){
       .minimizeInefficienciesText{
        font-size: 1.75rem;
        font-weight: 200;
      }
    }

    @media screen and (min-width:768px) and (max-width:992px){
      .benefitsDisappear{
        height: 0px;
        display: none;
      }
    }
    @media screen and (min-width:768px) and (max-width:992px){
      .predicitivePclass{
        padding-top: 10px;
      }
    }
    /* @media screen and (min-width:768px) and (max-width:992px){
      .pumpConcept-description{
       font-size: 1rem;
       font-weight: 200;
       padding-right: 50px;
       padding-bottom: 20px;
       padding-left: 50px;
     }
   } */
   @media screen and (min-width:768px) and (max-width:992px){
    .mobileImage{
      padding-bottom: 5px;
     }
   }
  @media screen and (min-width:768px) and (max-width:992px){
  .mobileImage{
    padding-top: 70px;
    padding-bottom: 5px; 
    }
  }
  @media screen and (min-width:768px) and (max-width:992px){
  .MinimizeInText{
    font-size: 3rem; 
    }
  }
  @media screen and (min-width:768px) and (max-width:992px){
  .businessForm{
    padding-top: 0px; 
    }
  }
  @media screen and (min-width:768px) and (max-width:992px){
  .emailForm{
    padding-top: 40px; 
    }
  }
  @media screen and (min-width:768px) and (max-width:992px){
  .companyForm{
    padding-top: 40px; 
    }
  }
  @media screen and (min-width:768px) and (max-width:992px){
  .formBtn{
    margin-top: 0px;
    }
  }
  @media screen and (min-width:768px) and (max-width:992px){
    .button5{
      margin-left: 28%;
      }
    }
    @media screen and (min-width:768px) and (max-width:992px){
      .date{
        display: none;
        }
      } 
      @media screen and (min-width:768px) and (max-width:992px){
        .navbarname{
          height:50%;
          }
        } 
        @media screen and (min-width:268px) and (max-width:992px){
          .optimize{
            padding-top: 50px;
            }
          } 


    /* END *
  
   

    
   
  